<?xml version='1.0' encoding='utf-8'?>
<widget id="com.ivaneidelstein.keysocket" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Keysocket</name>
    <description>
        Permite enviar 'pulsaciones' de teclas a un servidor de NodeJS ejecutando un WebSocket
    </description>
    <author email="ivan.eidelstein@gmail.com">
        Ivan Eidelstein
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <plugin name="com.manueldeveloper.volume-buttons" spec="https://github.com/manueldeveloper/cordova-plugin-volume-buttons.git" />
    <plugin name="cordova-plugin-statusbar" spec="^2.4.2" />
    <preference name="StatusBarBackgroundColor" value="#FF5555" />
    <plugin name="cordova-plugin-background-mode" spec="^0.7.2" />
    <engine name="android" spec="^7.0.0" />
</widget>
